<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</head>
<body>
<form th:action="@{/service/edit}" method="post" th:object="${service}">
    <input type="hidden" th:field="*{id}">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputState">Service Type</label>
            <select id="inputState" class="form-control" th:field="*{serviceType}">
                <option th:each="item : ${serviceTypeList}"
                        th:value="${item.id}" th:text="${item.name}"
                        th:selected="${item.id == service.serviceType.id}"></option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputState">Service Rent Type</label>
            <select id="inputState1" class="form-control" th:field="*{serviceRentType}">
                <option th:each="item : ${serviceRentTypeList}"
                        th:value="${item.id}" th:text="${item.name}"
                        th:selected="${item.id == service.serviceRentType.id}"></option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputZip">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="inputZip">
        </div>
        <div class="form-group col-md-3">
            <label for="inputZip">Area</label>
            <input type="text" th:field="*{area}" class="form-control" id="inputZip1">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputZip">Cost</label>
            <input type="text" th:field="*{cost}" class="form-control" id="inputZip2">
        </div>
        <div class="form-group col-md-3">
            <label for="inputZip">Max people</label>
            <input type="text" th:field="*{max_people}" class="form-control" id="inputZip3">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputZip">Standard Room</label>
            <input type="text" th:field="*{standardRoom}" class="form-control" id="inputZip4">
        </div>
        <div class="form-group col-md-3">
            <label for="inputZip">Description Other Convenience</label>
            <input type="text" th:field="*{descriptionOtherConvenience}" class="form-control" id="inputZip5">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputZip">Pool Area</label>
            <input type="text" th:field="*{poolArea}" class="form-control" id="inputZip6">
        </div>
        <div class="form-group col-md-3">
            <label for="inputZip">Number Of Floors</label>
            <input type="text" th:field="*{numberOfFloors}" class="form-control" id="inputZip7">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputZip">Free Service Included</label>
            <input type="text" th:field="*{freeServiceIncluded}" class="form-control" id="inputZip8">
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">EDIT</button>
</form>
</body>
</html>