<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Add Product</h3>
<p>
    <a th:href="@{/products}">
        Back to product list
    </a>
</p>
<div id="form">
    <form th:action="@{save}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Type</label>
            <input type="text" th:field="*{type}"/>
        </div>
        <div>
            <label>Name</label>
            <input type="email" th:field="*{name}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="text" th:field="*{price}"/>
        </div>
        <div>
            <label>Origin</label>
            <input type="text" th:field="*{origin}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>